.row.comments-container {
    min-height: 300px;
}

.row {
    background-color: #6ba2aa;
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 40px;
}

h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}